.gcloudignore
.dockerignore
.git
.gitignore
__pycache__/
**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hydra
node_modules/
npm-debug.log
.env
.env.*
!.env.template
sample.pdf
sample-image.pdf
terraform.tfstate
terraform.tfstate.backup
